---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";

import lineloop from "../images/lineloop.png";
import csstrianglesimages from "../images/css-triangles-using-tailwind.png";
import csstoggle from "../images/toggle.gif";
import tailwindarb from "../images/tailwindarbitrary.webp";
import rtsllogo from "../images/rtsllogo.png";
import astrotwv4 from "../images/astro-tw-v4.webp";
import spirespy from "../images/spirespy.png";
import pharmcd from "../images/pharmcd.png";
import stt from "../images/studytimestables.png";
import pharmailer from "../images/pharmailer.png";
import a100words from "../images/100words.png";
import hearts360 from "../images/hearts360.jpg";
import bug1 from "../images/bug1.png";
import bug2 from "../images/bug2.png";
---

<Layout title="Welcome to Astro.">
  <main class="text-gray-950 dark:text-gray-200 w-full light">
    <div class="relative flex justify-between items-center px-8 pt-4">
      <div class="flex">
        <label class="relative flex justify-between items-center group text-xl">
          <input
            type="checkbox"
            class="border-none absolute left-1/2 -translate-x-1/2 peer appearance-none rounded-md"
          />
          <span
            class="w-10 h-6 flex items-center flex-shrink-0 p-1 bg-gray-200 dark:bg-gray-800 border border-gray-800 dark:border-gray-200 duration-300 ease-in-out peer-checked:bg-green-400 after:w-4 after:h-4 after:bg-white after:border after:border-gray-800 dark:after:border-gray-200/50 after:shadow-md after:duration-300 peer-checked:after:translate-x-[0.9rem] group-hover:after:translate-x-0.5 peer-checked:group-hover:after:translate-x-[0.8rem]"
          ></span>
        </label>
        <p
          class="flex items-center font-caveat ml-3 text-red-600 text-2xl rotate-3"
        >
          <span class="w-14 mr-1">
            <Image class="" src={lineloop} alt="lineloop" />
          </span>
          <span
            >This toggle is purely tailwind, <br />
            <span class=""
              >but I can't get dark/light mode toggle to work with v4</span
            ></span
          >
        </p>
      </div>
      <div
        class="flex gap-1 *:p-1.5 *:px-2 text-xs font-medium *:border *:border-gray-300 dark:*:border-gray-600"
      >
        <p class="border-none">Made with</p>
        <p class="bg-black/5">Tailwind v4</p>
        <p class="bg-black/5">AstroJS</p>
      </div>
    </div>
    <Section containerClassList={[]}>
      <p class="text-6xl font-black">Hey there! 👋</p>
      <p class="mt-6 text-4xl font-bold leading-snug">
        I'm <span class="text-indigo-600 font-black text-4xl">Jamie</span><span
          class="font-kalam text-4xl"
        >
          <br />and I think Tailwind is a <span
            class="font-black text-emerald-500 font-kalam text-3xl"
            >big deal</span
          >.</span
        >
      </p>
      <p class="text-lg font-medium mt-8 max-w-xl">
        I'm a huge fan of Tailwind and I'm excited to see there is an
        opportunity to join the team and help contribute to this amazing
        project.
      </p>
      <p class="text-lg font-medium mt-8 max-w-xl">
        Tailwind is my preferred CSS framework for the last 4 years and I use it
        whenever I can. It's a productivity powerhouse for web development
        enabling me to take a design from imagination to realisation in the
        browser.
      </p>
      <p class="text-lg font-medium mt-8 max-w-xl">
        Tailwind has revolutionised the way I work and that is why I love it.
      </p>
      <p class="text-lg font-medium mt-8 max-w-xl">
        This mini website is my application for the role, and it was created
        using Astro and Tailwind v4.
      </p>
    </Section>

    <Section containerClassList={["relative, overflow-hidden"]}>
      <h2 class="text-4xl font-black">Who is Jamie?</h2>
      <p class="text-lg font-medium mt-4">
        I'm a self-taught designer and front-end developer. I started designing
        websites when I was 14 (I'm now 36) by creating WordPress themes. My
        front-end development journey began 8 years ago with VueJS, and more
        recently I've started using AstroJS as it enables me to dabble in
        muitlple front-end frameworks, broadening my experience.
      </p>
      <p class="text-lg font-medium mt-4">
        As a product designer and front-end developer (and registered
        pharmacist) I find joy in creating beautiful, user friendly, websites
        and web applications that offer delightful experiences.
      </p>
      <p class="text-lg font-medium mt-4">
        I have passion for CSS and saying that I'm a huge Tailwind fan would be
        an understatement!
      </p>
      <p class="text-lg font-medium mt-4">
        Based in the UK, I have been working as a Product Designer at Resolve to
        Save Lives for the last two years. My primary role involves designing
        dashboards, taking complex data and transforming into visuals that are
        easy to read, easy to understand, and quick to interpret to help
        healthcare professionals make informed, data driven decisions that
        impacts millions of lives around the world.
      </p>
      <div class="">
        <h3 class="pt-8 text-sm font-black uppercase">Current role</h3>
        <div class="md:flex gap-8">
          <div class="md:w-1/2">
            <div
              class="bg-gray-100 border dark:bg-gray-900 border-gray-300 dark:border-gray-700 mt-4"
            >
              <div class="bg-white p-4 pb-3 m-0.5">
                <Image src={rtsllogo} alt="" class="m-auto py-2" />
              </div>
              <div class="p-2 px-4">
                <p class="font-medium">Product designer</p>
                <p class="text-stone-500 dark:text-stone-400">
                  Resolve to Save Lives
                </p>
              </div>
            </div>
          </div>
          <div class="md:w-1/2 mt-4">
            <h3 class="">Responsibilities:</h3>
            <ul class="list-disc list-inside ml-2 mt-4">
              <li>Designing dashboards</li>
              <li>
                Keeping <a
                  class="text-gray-600 dark:text-gray-400 underline underline-offset-2"
                  href="https://hearts360.org/index.html">Simple.org</a
                > up-to-date
              </li>
              <li>
                Building <a
                  class="text-gray-600 dark:text-gray-400 underline underline-offset-2"
                  href="https://hearts360.org/index.html">Hearts360.org</a
                >
              </li>
              <li>Data analytics</li>
              <li>Writing implementation documentation</li>
            </ul>
          </div>
        </div>
      </div>
      <h3 class="pt-8 text-sm font-black uppercase">Skills</h3>
      <ul
        class="inline-flex flex-wrap *:whitespace-nowrap text-sm gap-4 mt-4 max-w-lg *:px-1.5 *:py-1 *:bg-gray-200 dark:*:bg-gray-800 *:border *:border-gray-400 dark:*:border-gray-700"
      >
        <li>
          <!-- <Image src={tailwindarb} alt="html" /> -->
          <p class="text-center">HTML</p>
        </li>
        <li>
          <!-- <Image src={tailwindarb} alt="html" /> -->
          <p class="text-center">CSS</p>
        </li>
        <li>Tailwind</li>
        <li>VueJs</li>
        <li>NuxtJs</li>
        <li>AstroJs</li>
        <li>Typescript</li>
        <li>CSS animaton</li>
        <li>ChartJS</li>
        <li>SQL</li>
      </ul>

      <h3 class="pt-8 text-sm font-black uppercase">What excites me</h3>
      <h4 class="pt-8 text-xs font-black uppercase">Testing the limits</h4>
      <p class="text-lg font-medium mt-4">
        I love to test the limits of what CSS and Tailwind can do.
      </p>
      <h4 class="pt-8 text-xs font-black uppercase">Pixel-perfect design</h4>
      <p class="text-lg font-medium mt-4">
        Writing CSS to create beautiful interfaces almost feels like painting a
        picture or making a sculpture. I am a stickler for pixel-perfect design
        where the time allows.
      </p>
      <p class="text-lg font-medium mt-4">
        I particularly love adding that last 5% polish to a project, the extra
        details make all the difference to the user experience.
      </p>

      <h4 class="pt-8 text-xs font-black uppercase">
        Creating elegant solutions
      </h4>
      <p class="text-lg font-medium mt-4">
        I enjoy the challenge of trying to create useful elegant layout
        solutions to problems, such as a sticky footer using flexbox and
        justify-between, or using pure % to create scaleable elements.
      </p>

      <h4 class="pt-8 text-xs font-black uppercase">Squashing CSS bugs</h4>
      <p class="text-lg font-medium mt-4">
        I'll admit I'm a stickler for hunting bugs in CSS (and other code). I
        enjoy finding and fixing bugs, refactoring code to reduce repetition
        (DRY)
      </p>
      <p class="text-lg font-medium mt-4">
        I came across the <a
          href="https://twitter.com/adamwathan/status/1734696245015494711"
          class="text-gray-600 dark:text-gray-400 underline underline-offset-2"
          >'min-width: 0%;'</a
        > bug this month when working with flexbox on a work project. But I refused
        to let it beat me, I enjoy a challenge.
      </p>
      <h4 class="pt-8 text-xs font-black uppercase">Animations</h4>
      <p class="text-lg font-medium mt-4">
        I absolutely love adding subtle animations to all my projects to improve
        both the aesthetics and user experience of interfaces I work on, you'll
        see some of this shown in the next section.
      </p>
      <p class="text-lg font-medium mt-4">
        My current experience creating animation is through vanilla CSS mixed
        with JS, but I do intend to explore Framer motion library in the near
        future.
      </p>
      <p class="text-lg font-medium mt-4">
        I also found a small visual bug on the Tailwind docs page.
      </p>
      <h4 class="pt-8 text-xs font-black uppercase">New features</h4>

      <p class="text-lg font-medium mt-4">
        Though I haven't had so much time to play with some of the newest
        features of CSS such as layers and browser transitions I find it
        exciting that CSS is continually evolving.
      </p>

      <h4 class="pt-8 text-xs font-black uppercase">Stats nerd</h4>
      <p class="text-lg font-medium mt-4">
        I am a stats nerd, which is kind of how I ended up working on
        dashboards. I love all things numbers.
      </p>
    </Section>

    <Section>
      <h2 class="text-4xl font-black">I do design and code</h2>
      <p class="text-lg font-medium mt-4">
        Here is a selection of fun projects I've worked on over the years, with
        a mix of professional and personal projects.
      </p>
      <div class="mt-5 flex flex-col gap-6">
        <article class="border border-gray-300 dark:border-gray-700">
          <Image src={spirespy} alt="spirespy" class="m-auto w-full" />
          <div class="p-4">
            <h1 class="font-bold text-2xl mt-2">SpireSpy</h1>
            <p>Web app</p>
            <p class="text-lg font-medium mt-4">
              This is a web app helping gamers play 'Slay the Spire', a
              deck-building game. This site is popular with over 80k visitors
              and over 1 million page views per year.
            </p>
            <p class="text-lg font-medium mt-4">
              This website is designed for speed as players want info quickly to
              avoid interrupting gameplay. For this reason, it has a highly
              streamlined navigation and quick keyboard search.
            </p>
            <p class="text-lg font-medium mt-4">
              This project was an engineering challenge because it required
              precomputed data for around 500 game cards, manual pre-rendering
              for 500 pages (before switching to Nuxt), staggered animations,
              scalable cards (including font sizes) and modal overlays.
            </p>
            <h2 class="mt-4 font-bold text-sm uppercase">Key features:</h2>
            <ul class="list-disc list-inside pl-2 *:my-1">
              <li>
                Card elements that scale based on width, including font size
              </li>
              <li>Time delayed animations</li>
              <li>Modal overlays</li>
              <li>Organised complex data</li>
              <li>No backend</li>
              <li>Keyboard shortcuts</li>
              <li>Designed for rapid browsing</li>
              <li>&gt;1 million page views per year from ~80k users</li>
              <li>SEO optimised</li>
              <li>Manual pre-rendering (before switching to Nuxt)</li>
            </ul>
            <h2 class="mt-6 font-bold text-sm uppercase">Tech:</h2>
            <h3 class="mt-4 uppercase font-bold text-xs">Version 1</h3>
            <ul class="list-disc list-inside pl-2 *:my-1">
              <li>Vue 2</li>
              <li>Puppeteer</li>
              <li>Digital Ocean</li>
              <li>CSS</li>
            </ul>
            <h3 class="mt-4 uppercase font-bold text-xs">Version 2</h3>
            <ul class="list-disc list-inside pl-2 *:my-1">
              <li>Vue 3</li>
              <li>Nuxt 3</li>
              <li>Tailwind and CSS</li>
            </ul>
          </div>
          <a
            class="group w-full h-12 bg-gray-200 dark:bg-gray-800 flex justify-center items-center hover:bg-gray-200/75 dark:hover:bg-gray-700/75 duration-200 ease-out"
            href="https://maybelatergames.co.uk/spirespy/cards/ironclad/tierlist"
            target="_blank"
            >Visit SpireSpy <span
              class="inline-block group-hover:translate-x-1.5 duration-200 ease-out opacity-50 group-hover:opacity-100 ml-1"
              >&rarr;</span
            ></a
          >
        </article>

        <article class="border border-gray-300 dark:border-gray-700">
          <Image
            src={hearts360}
            alt="spirespy"
            class="m-auto w-full border-b border-gray-200"
          />
          <div class="p-4">
            <h1 class="font-bold text-2xl mt-2">Hearts360</h1>
            <p>Static HTML design tempate</p>
            <p class="text-lg font-medium mt-4">
              Recently in my work, I was asked to help create a base template
              for a dashboard that others could use to implement their own
              gold-standard hypertension and diabetes program dashboard.
            </p>
            <p class="text-lg font-medium mt-4">
              The key focus of this project is to create well-designed static
              web elements with simple and clear language.
            </p>
            <p class="text-lg font-medium mt-4">
              The aim is to provide a lightweight design system for other
              software (or non-tech healthcare) teams to copy or re-create their
              own dashboard.
            </p>
            <p class="text-lg font-medium mt-4">
              The simplicity of the framework requires that keep our CSS as lean
              as possible, avoiding complex CSS styling where possible keeping
              simplicity as a core value.
            </p>
            <p class="text-lg font-medium mt-4">
              This template has been implemented by one software provider with a
              plan to roll it out to another 5 in the coming months. There is a
              potential that this framework will help manage a further 10
              million patients in the near future.
            </p>
            <h2 class="mt-4 font-bold text-sm uppercase">Key features:</h2>
            <ul class="list-disc list-inside pl-2 *:my-1">
              <li>Simple design framework for others to copy and paste</li>
              <li>Lightweight and lean CSS styling system</li>
              <li>Clear and easy-to-understand language</li>
              <li>Modular</li>
              <li>No backend</li>
              <li>Charts created using ChartJS</li>
            </ul>
            <h2 class="mt-6 font-bold text-sm uppercase">Tech:</h2>
            <ul class="list-disc list-inside pl-2 *:my-1">
              <li>HTML</li>
              <li>CSS</li>
              <li>Minimal JS (only charts)</li>
            </ul>
          </div>
          <a
            class="group w-full h-12 bg-gray-200 dark:bg-gray-800 flex justify-center items-center hover:bg-gray-200/75 dark:hover:bg-gray-700/75 duration-200 ease-out"
            href="https://hearts360.org"
            target="_blank"
            >Visit Hearts360 <span
              class="inline-block group-hover:translate-x-1.5 duration-200 ease-out opacity-50 group-hover:opacity-100 ml-1"
              >&rarr;</span
            ></a
          >
        </article>

        <article class="border border-gray-300 dark:border-gray-700">
          <Image
            src={a100words}
            alt="spirespy"
            class="m-auto w-full border-b border-gray-200"
          />
          <div class="p-4">
            <h1 class="font-bold text-2xl mt-2">100 Words</h1>
            <p>Browser game (web app)</p>
            <p class="text-lg font-medium mt-4">
              This was a fun project to create an alternative version of Wordle,
              but with my own spin on adding a 3d feeling and some nice
              animations to the game style.
            </p>
            <p class="text-lg font-medium mt-4">
              I wanted to create a fun bubbly design style with some cool
              animations for the tiles.
            </p>
            <p class="text-lg font-medium mt-4">
              The project was never fully completed but the game is playable.
            </p>
            <p class="text-lg font-medium mt-4">
              Note: Most animations were created using CSS rather than Tailwind
            </p>
            <h2 class="mt-4 font-bold text-sm uppercase">Key features:</h2>
            <ul class="list-disc list-inside pl-2 *:my-1">
              <li>Heavy focus on animations using JS and CSS keyframe</li>
              <li>No animation libraries (why didn't I think of that!)</li>
              <li>Strong focus on mobile design</li>
              <li>Colourblind friendly</li>
            </ul>
            <h2 class="mt-6 font-bold text-sm uppercase">Tech:</h2>
            <ul class="list-disc list-inside pl-2 *:my-1">
              <li>Nuxt 3</li>
              <li>Tailwind</li>
              <li>LocalStorage</li>
            </ul>
          </div>
          <a
            class="group w-full h-12 bg-gray-200 dark:bg-gray-800 flex justify-center items-center hover:bg-gray-200/75 dark:hover:bg-gray-700/75 duration-200 ease-out"
            href="https://100wordsgame.com/"
            target="_blank"
            >Visit 100 Words <span
              class="inline-block group-hover:translate-x-1.5 duration-200 ease-out opacity-50 group-hover:opacity-100 ml-1"
              >&rarr;</span
            ></a
          >
        </article>

        <article class="border border-gray-300 dark:border-gray-700">
          <Image
            src={stt}
            alt="spirespy"
            class="m-auto w-full border-b border-gray-200"
          />
          <div class="p-4">
            <h1 class="font-bold text-2xl mt-2">StudyTimesTables</h1>
            <p>Website</p>
            <p class="text-lg font-medium mt-4">
              This is a simple website where I was trying to add some playful
              animation elements to a boring topic. It includes a simple times
              table quiz for kids.
            </p>
            <p class="text-lg font-medium mt-4">
              The focus here is the animations.
            </p>
            <p class="text-lg font-medium mt-4">
              Side note: Occasionally the kids forced to use the site to let me
              know they hate me via the contact form 😂.
            </p>
            <h2 class="mt-4 font-bold text-sm uppercase">Key features:</h2>
            <ul class="list-disc list-inside pl-2 *:my-1">
              <li>Fun vanilla CSS animations (using JS)</li>
              <li>Simple design</li>
              <li>Maths test for kids with fireworks for 100%</li>
            </ul>
            <h2 class="mt-6 font-bold text-sm uppercase">Tech:</h2>
            <ul class="list-disc list-inside pl-2 *:my-1">
              <li>Nuxt 2</li>
              <li>Tailwind</li>
            </ul>
          </div>
          <a
            class="group w-full h-12 bg-gray-200 dark:bg-gray-800 flex justify-center items-center hover:bg-gray-200/75 dark:hover:bg-gray-700/75 duration-200 ease-out"
            href="https://studytimestables.com/"
            target="_blank"
            >Visit StudyTimesTables <span
              class="inline-block group-hover:translate-x-1.5 duration-200 ease-out opacity-50 group-hover:opacity-100 ml-1"
              >&rarr;</span
            ></a
          >
        </article>
      </div>
    </Section>
    <Section>
      <h2 class="text-4xl font-black">
        I write coding tutorials <br /><span
          class="font-black decoration-blue-400 underline-offset-4 underline-thickness-2 text-4xl font-caveat
          bg-gradient-to-br
          from-sky-400
          to-blue-500
          text-transparent
          bg-clip-text pr-4"
        >
          with a focus on Tailwind
        </span>
      </h2>
      <p class="text-xl font-medium mt-4">
        I enjoy sharing articles showing others how to complete coding tasks
        that took me a long time to implement.
      </p>
      <p class="text-xl font-medium mt-4">
        It feels good to help others work faster.
      </p>

      <h3 class="pt-8 text-sm font-black uppercase">Tailwind articles</h3>
      <ul class="*:my-5">
        <li>
          <article
            class="border border-gray-300 dark:border-gray-700 hover:outline-5 outline-0 hover:outline-gray-200 dark:hover:outline-gray-800 outline-gray-200 dark:outline-gray-800 duration-200 ease-in-out"
          >
            <a
              class="md:flex"
              href="https://medium.com/front-end-weekly/build-a-css-only-toggle-switch-using-tailwindcss-d2739882934"
            >
              <div class="aspect-mediumimage md:w-2/5">
                <Image
                  src={csstoggle}
                  class="w-full h-full object-cover"
                  alt="CSS triangles using Tailwind"
                />
              </div>
              <div
                class="p-5 px-6 border-l border-gray-200 dark:border-gray-800 md:w-3/5"
              >
                <h1 class="font-semibold text-sm">
                  Build a CSS only toggle switch using TailwindCSS
                </h1>
                <p class="text-sm mt-2">
                  Build a CSS-only toggle switch using purely TailwindCSS in
                  just 5 lines of HTML 👍. No Javascript!.
                </p>
                <p class="text-xs font-medium text-stone-400 mt-2">
                  4,209 reads
                </p>
              </div>
            </a>
          </article>
        </li>
        <li>
          <article
            class="border border-gray-300 dark:border-gray-700 hover:outline-5 outline-0 hover:outline-gray-200 dark:hover:outline-gray-800 outline-gray-200 dark:outline-gray-800 duration-200 ease-in-out"
          >
            <a
              class="md:flex"
              href="https://medium.com/@jamiecarter7/css-triangles-using-tailwind-5a7ef8e338f5"
            >
              <div class="aspect-mediumimage md:w-2/5">
                <Image
                  src={csstrianglesimages}
                  class="object-cover h-full"
                  alt="CSS triangles using Tailwind"
                  width="1800"
                  height="1000"
                />
              </div>
              <div
                class="p-5 px-6 border-l border-gray-200 dark:border-gray-800 md:w-3/5"
              >
                <h1 class="font-semibold text-sm">
                  CSS triangles using Tailwind
                </h1>
                <p class="text-sm mt-2">
                  Looking to use CSS triangles for some simple shapes on your
                  website? Find 4 triangle directions here, all created using
                  Tailwind.
                </p>
                <p class="text-xs font-medium text-stone-400 mt-2">32 reads</p>
              </div>
            </a>
          </article>
        </li>

        <li>
          <article
            class="border border-gray-300 dark:border-gray-700 hover:outline-5 outline-0 hover:outline-gray-200 dark:hover:outline-gray-800 outline-gray-200 dark:outline-gray-800 duration-200 ease-in-out"
          >
            <a class="md:flex" href="https://medium.com/p/df5c93aafa4a">
              <div class="aspect-mediumimage md:w-2/5">
                <Image
                  src={tailwindarb}
                  class="object-cover h-full"
                  alt="CSS triangles using Tailwind"
                />
              </div>
              <div
                class="p-5 px-6 border-l border-gray-200 dark:border-gray-800 md:w-3/5"
              >
                <h1 class="font-semibold text-sm">
                  How to use TailwindCSS JIT with negative arbitrary values
                </h1>
                <p class="text-sm mt-2">
                  Attempting to use negative arbitrary values with the new
                  TailwindCSS JIT tooling. Here’s how I got it working.
                </p>
                <p class="text-xs font-medium text-stone-400 mt-2">
                  1,200 reads
                </p>
              </div>
            </a>
          </article>
        </li>
        <li>
          <article
            class="border border-gray-300 dark:border-gray-700 hover:outline-5 outline-0 hover:outline-gray-200 dark:hover:outline-gray-800 outline-gray-200 dark:outline-gray-800 duration-200 ease-in-out"
          >
            <a
              class="md:flex"
              href="https://medium.com/@jamiecarter7/how-to-get-tailwind-v4-alpha-working-on-astrojs-90fa722df6d1"
            >
              <div class="aspect-mediumimage md:w-2/5">
                <Image
                  src={astrotwv4}
                  class="w-full h-full object-cover"
                  alt="CSS triangles using Tailwind"
                />
              </div>
              <div
                class="p-5 px-6 border-l border-gray-200 dark:border-gray-800 md:w-3/5"
              >
                <h1 class="font-semibold text-sm">
                  How to get Tailwind v4 alpha working on AstroJS
                </h1>
                <p class="text-sm mt-2">
                  Looking to try Tailwind v4 alpha on Astro? Here’s a quick
                  guide to get you up and running in two minutes.
                </p>
                <p class="text-xs font-medium text-stone-400 mt-2">
                  0 reads (posted 02-Apr)
                </p>
              </div>
            </a>
          </article>
        </li>

        <li>
          <a
            class="relative group mt-5 inline-block underline underline-offset-6 decoration-1 decoration-stone-300 hover:decoration-transparent duration-200 ease-out"
            href="https://medium.com/@jamiecarter7"
          >
            See all medium articles <span
              class="inline-block group-hover:translate-x-1.5 duration-200 ease-out opacity-50 group-hover:opacity-100"
              >&rarr;</span
            >
          </a>
        </li>
      </ul>
      <h2 class="text-sm font-bold uppercase mt-8 mb-2">Other writing</h2>
      <ul>
        <li class="mb-1">
          <a
            href="https://www.simple.org/blog/thirty-million-bp-measures-in-simple/"
            class="group underline underline-offset-4"
            >The power of 30 million blood pressure measures - Simple.org<span
              class="inline-block group-hover:translate-x-1.5 duration-200 ease-out opacity-50 group-hover:opacity-100 ml-1"
              >&rarr;</span
            ></a
          >
        </li>
        <li>
          <a
            href="https://www.simple.org/blog/revealing-data-behind-overdue-patient-calls/"
            class="group underline underline-offset-4"
            >Calling overdue patients helps improve return-to-care rates -
            Simple.org<span
              class="inline-block group-hover:translate-x-1.5 duration-200 ease-out opacity-50 group-hover:opacity-100 ml-1"
              >&rarr;</span
            ></a
          >
        </li>
      </ul>
    </Section>

    <Section>
      <h2 class="text-4xl font-black">I've done freelance work</h2>
      <p class="text-lg font-medium mt-4">
        I've worked on a number of freelance projects over the years. Here are a
        two of my favourites.
      </p>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <article
          class="border border-gray-300 dark:border-gray-700 flex flex-col justify-between"
        >
          <div>
            <Image src={pharmcd} alt="spirespy" />
            <div class="p-4">
              <h1 class="font-bold text-2xl mt-2">PharmCD</h1>
              <p>Static website</p>
              <p class="text-lg font-medium mt-4">
                Marketing page for a pharmacy product. Static HTML and CSS.
              </p>
            </div>
          </div>
          <a
            class="group w-full h-12 bg-gray-200 dark:bg-gray-800 flex justify-center items-center hover:bg-gray-200/75 dark:hover:bg-gray-700/75 duration-200 ease-out"
            href="https://pharmcd.co.uk/"
            target="_blank"
            >Visit PharmCD <span
              class="inline-block group-hover:translate-x-1.5 duration-200 ease-out opacity-50 group-hover:opacity-100 ml-1"
              >&rarr;</span
            ></a
          >
        </article>
        <article
          class="border border-gray-300 dark:border-gray-700 flex flex-col justify-between"
        >
          <Image
            src={pharmailer}
            alt="spirespy"
            class="border border-gray-300 dark:border-gray-700 flex flex-col justify-between"
          />
          <div class="p-4">
            <h1 class="font-bold text-2xl mt-2">Pharmailer</h1>
            <p>Static website</p>
            <p class="text-lg font-medium mt-4">
              Marketing page. HTML and CSS using Nuxt2. I dedicated alot of time
              to making the hero animation using vanilla CSS.
            </p>
          </div>
          <a
            class="group w-full h-12 bg-gray-200 dark:bg-gray-800 flex justify-center items-center hover:bg-gray-200/75 dark:hover:bg-gray-700/75 duration-200 ease-out"
            href="https://pharmailer.co.uk/"
            target="_blank"
            >Visit Pharmailer <span
              class="inline-block group-hover:translate-x-1.5 duration-200 ease-out opacity-50 group-hover:opacity-100 ml-1"
              >&rarr;</span
            ></a
          >
        </article>
      </div>
    </Section>

    <Section sectionClassList={["pb-8"]}>
      <h2 class="text-4xl font-black">I found a bug</h2>

      <p class="text-lg font-medium mt-4">
        On the Tailwind Astro page, when using the light mode (not dark mode),
        the footer links are not visible due to an additional image overlaying
        these elements.
      </p>
      <Image src={bug1} alt="bug1" class="w-full mt-4" />
      <Image src={bug2} alt="bug2" class="w-full mt-4" />
      <p class="text-lg font-medium mt-4">
        There seems to be an additional image in the body of this page, whereas
        other pages only seem to have one image at the top of the page.
      </p>
      <pre
        class="bg-gray-950 text-white p-4 overflow-y-scroll mt-4">
&lt;p class=&quot;hidden sm:block absolute -z-10 top-0 left-[15%] pt-[40%] 2xl:left-[40%] 2xl:pt-[8%] dark:hidden&quot;&gt;
  &lt;img src=&quot;/_next/static/media/installation.50c59fdd.jpg&quot; alt=&quot;&quot; class=&quot;w-[52.6875rem] max-w-none&quot; decoding=&quot;async&quot; /&gt;
&lt;/p&gt;</pre>
    </Section>

    <Section sectionClassList={["pb-8"]}>
      <h2 class="text-4xl font-black">Thank you</h2>

      <p class="text-lg font-medium mt-4">
        If you've made it this far then thats incredible, thank you for taking
        the time to read my application.
      </p>
      <p class="text-lg font-medium mt-4">
        I'm excited to see what the future holds for Tailwind and I'm excited to
        see if I can be a part of that future. v4 looks really slick and it
        would be really fun to be involved.
      </p>
      <p class="text-lg font-medium mt-4">
        I realise this application is far from perfect, while light/dark mode
        works having a broken mode switch is a bit of a fail, but I hope you can
        see I have potential.
      </p>
      <p class="text-lg font-medium mt-4">
        I also realise I don't have a portfolio, but I hope the projects I've
        shared here give you an idea of my skills and passion for design, CSS
        and obviously Tailwind. I prefer to spend my time building valuable
        tools, websites and web apps rather than on a portfolio.
      </p>
    </Section>
    <div class="flex justify-end mx-8 my-4 -mt-5">
      <a
        href="https://github.com/jamiecarter7/tailwind-resume"
        class="text-gray-600 dark:text-white underline underline-offset-4 text-sm inline-block"
        >Github repo
      </a>
    </div>
  </main>

  <!-- <script>
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }

  // Whenever the user explicitly chooses light mode
  localStorage.theme = "light";

  // Whenever the user explicitly chooses dark mode
  localStorage.theme = "dark";

  // Whenever the user explicitly chooses to respect the OS preference
  localStorage.removeItem("theme");
</script> -->
</Layout>
